body {
  margin: 0;
  background-color: #ffffff;
  font-family: "MaruBuri", serif;
  font-size: 4vmin;
  color: #000000;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-auto {
  margin: auto;
}

.mt-5 {
  margin-top: 5vmin;
}

.mt-10 {
  margin-top: 10vmin;
}

.bb-03 {
  border-bottom: 0.3vmin solid #808080;
}

.w-40 {
  width: 40vmin;
}

.w-80 {
  width: 80vmin;
}

.w-100 {
  width: 100vmin;
}

.p-15-10 {
  padding: 15vmin 10vmin;
}

.pb-5 {
  padding-bottom: 5vmin;
}

.bc-beige {
  background-color: #fcf8f4;
}

.bc-pink {
  background-color: #fcf0f0;
}

.ai-fs {
  align-items: flex-start;
}

.fd-r {
  flex-direction: row;
}

.jc-sb {
  justify-content: space-between;
}

.ff-cursive {
  font-family: "Ephesis", cursive;
}

.fs-6 {
  font-size: 6vmin;
}

.c-gray {
  color: #c0c0c0;
}
